In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

In [2]:
df = pd.read_csv("train.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26298 entries, 0 to 26297
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   row_id    26298 non-null  int64
 1   date      26298 non-null  object
 2   country   26298 non-null  object
 3   store     26298 non-null  object
 4   product   26298 non-null  object
 5   num_sold  26298 non-null  int64
dtypes: int64(2), object(4)
memory usage: 1.2+ MB

<h3>Data Cleaning</h3>

<p>1.Converting date into proper format and datatype</p>

In [3]:
df.date = pd.to_datetime(df.date)

df["day"] = df.date.dt.weekday
df["month"] = df.date.dt.month
df["year"] = df.date.dt.year

In [4]:
df.drop(['date'], axis=1, inplace=True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26298 entries, 0 to 26297
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   row_id    26298 non-null  int64
 1   country   26298 non-null  object
 2   store     26298 non-null  object
 3   product   26298 non-null  object
 4   num_sold  26298 non-null  int64
 5   day       26298 non-null  int64
 6   month     26298 non-null  int64
 7   year      26298 non-null  int64
dtypes: int64(5), object(3)
memory usage: 1.6+ MB

In [6]:
df_encoded = pd.get_dummies(df[['country','store','product']])

In [7]:
df = df.join(df_encoded)

In [8]:


#df.reset_index(drop = True , inplace = True)
y = df['num_sold']
df.drop(['row_id','country','store','product','num_sold'],axis=1,inplace=True)
df

,day,month,year,country_Finland,country_Norway,country_Sweden,store_KaggleMart,store_KaggleRama,product_Kaggle Hat,product_Kaggle Mug,product_Kaggle Sticker
0,3,1,2015,1,0,0,1,0,0,1,0
1,3,1,2015,1,0,0,1,0,1,0,0
2,3,1,2015,1,0,0,1,0,0,0,1
3,3,1,2015,1,0,0,0,1,0,1,0
4,3,1,2015,1,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
26293,0,12,2018,0,0,1,1,0,1,0,0
26294,0,12,2018,0,0,1,1,0,0,0,1
26295,0,12,2018,0,0,1,0,1,0,1,0
26296,0,12,2018,0,0,1,0,1,1,0,0
26297,0,12,2018,0,0,1,0,1,0,0,1

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_

NameError: name 'x_train' is not defined

In [9]:
from catboost import CatBoostRegressor
model = CatBoostRegressor()
model.fit(x_train,y_train)

NameError: name 'x_train' is not defined